body {
  background-image: url(platter1.jpg);
  background-size: 100%;
}

#wrapper {
  margin: 0 auto;
}

img {
    max-width:100%;
    max-height: 100%;
}

h1{
	padding-top: 40px;
	color:yellow;
	font-size:40px;
	text-align:center;
	text-shadow:1px 1px 10px black;
}


h4{font-family: "Verdana", Geneva, sans-serif;
	font-size: 30px;
	color: yellow;

}

h5{font-family: "Verdana", Geneva, sans-serif;
	font-size: 30px;
	color: yellow;

}

#ingredient{
	width: 200px;

<style>
    h4, h5 {display:inline;}
</style>

#chili{
	width: 200px;
}

#love{color:red;
}

a{ color: blue
}

#cooking {margin-left: 100px    }

#spicerack{
	max-width: 450px
}

#body{
	font-size: 16px;
}

.jumbotron{background-color: #F5F5DC;}

.caption{font-family: "Verdana", Geneva, sans-serif;
	font-size: 10px;

.follow{font-family: "Verdana", Geneva, sans-serif;
	font-size: 40px;

#twitter{width: 20px;
}
