body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(rCaEluo.jpg);
  background-repeat:repeat-x;
  background-color:blue;
}
#wrapper {
  width: 600px;
  margin: 200px auto 200px auto;
}
h1{
	color:red;
}
h1{
	font-family:arial;
	font-size:300;
	text-align:right;
	text-decoration: overline;
	text-shadow:1px 1px 10px black;
}
h4{
	color:green;
}
#summary{
	color:orange;
	border-color:green;
	border-style: solid;
	border-radius:5px;
}
.unicorns{
	color:purple;
}
img{
	width: 200px;
	border-color:green;
	border-style:green;
}
h1{
	background-color:red;
}
