body {
  background-image: url(platter.jpg);
  background-size: 100%;
}

#wrapper {
  width: 600px;
  margin: 100px auto 100px auto;
}

h1{
	color:red;
	font-family:Trebuchet MS;
	font-size:100;
	text-align:center;
	text-shadow:1px 1px 10px black;
	background-color:red;
}

#chili{
	width: 300px;
}

h2{
	color:#230303;

}
h3{color:#230303;}

#love{color:red;
}

a{ color: blue
}

.recipes{
	color:white;
}

h3{
	text-align: left
}


